/* IMPOSTAZIONI GENERALI */

body {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  line-height: 1.25;
  color:white;
  background-image: url(../assets/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: fill;
}

main {
  text-align: center;
}

#logo {
  width: 10em;
  padding: 35px 0px 15px 0px;
  margin-left: 10vh;
}

h1 {
  font-family: 'Outfit', sans-serif;
  color: white;
  font-size: 60px;
  line-height: 0.8;
  margin: 40px 0px 30px 0px;
}

h3 {
  font-family: 'Outfit', sans-serif;
  color: #900080;
  font-size: 2em;
  font-weight: bold;
}

.fontOutfitBold {
  font-weight: bold;
}

.fontInterBold {
  font-weight: bold;
}

main {
  margin-left: 6em;
}

li {
  line-height: 1.6;
}

.instructions h3 {
  margin-bottom: 5px;
}

.instructions ul {
  margin-top: 2.5em;
}

.instructions li {
  margin-left: 2em;
}

.bottom {
  margin-top: 6em;
}

.bottom label {
  font-weight: 500;
}

.bottom button {
  margin-left: 8em;
  width: 9em;
  height: 2.5em;
}

.bottom input {
  border: 3px solid #ffffff;
  border-radius: 0px;
}

.container {
  height: 80vh;
  width: 70vw;
}

.myButton {
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  cursor:pointer;
  color:rgb(0 43 111);
  background-color: #00FFFF;
  box-shadow: 0px 1px 30px 0px #00FFFF;
  border: none;
}
/* 
#timer {
  position: absolute;
  top: 40px;
  right: 40px;
  margin: auto;
  margin-top: 100px;
  height: 50px;
  width: 40px;
  text-align: center;
}

#timer-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

#timer-svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

#timer-circle {
  stroke-dasharray: 113px;
  stroke-dasharray: 100 100;
  transition: stroke-dasharray 1s linear;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 60s linear infinite forwards;
} */


#timer {
  position: absolute;
  top: 80px;
  right: 200px;
  margin-top: 50px;
  height: 150px; 
  width: 150px ; 
  text-align: center;
}

#timer-number {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 3em; 
}

#timer-svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg) rotateZ(-90deg);
  padding: 0;
  display: flex;
  justify-content: center;
}

#timer-circle {
  stroke-dasharray: calc(2em * 3.14);                                      /* Calcola la circonferenza del cerchio in base al diametro desiderato */
  stroke-dasharray: 100 100;
  transition: stroke-dasharray 1s linear;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 40s linear infinite forwards;
  width: 100%;
  height: 100%;
 
}





@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

.radio-button {
  display: transparent;
}

.btn-container{
  display: inline-block;
  background-color: #900080;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;  
  margin: 20px;
  padding: 10px;
}