@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;600;700&display=swap');

/* IMPOSTAZIONI GENERALI */

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1em;
  line-height: 1.25;
  color:white;
  background-image: url(../assets/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: fill;
}

#logo {
  width: 10em;
  padding: 35px 0px 15px 0px;
  margin-left: 10vh;
}

/* TIMER */
#timer {
  position: fixed;
  top: 100px;
  right: 170px;
  width: 150px;
  height: 150px;
}

#timer-svg {
  width: 100%;
  height: 100%;
}

#timer-circle {
  fill: none;
  stroke-width: 10px;
  stroke-dasharray: circumference; /* Aggiunto */
  stroke-dashoffset: circumference; /* Aggiunto */
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 1s linear;
}

#timer-number {
  fill: white;
  font-size: 50px;
  text-anchor: middle;
  dominant-baseline: middle;
}

/* QUESTION */ 
#question-container{
  min-width: 500;
  width: 700px;
  text-align: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

#question-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1em;
  margin-bottom: 10vh;
}
 /* ANSWERS */
.radio-button {
  display: none;
}

label {
  cursor:pointer;
  display: inline-block;
  margin: 5px 20px;
  font-size: 0.8em;
  font-weight: 700;
}

.checked {
  background-color: #00FFFF;
}

.btn-container{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.091);
  width: 250px;
  border-radius: 70px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0px -2px 3px 0px #ffffffdf;
}

.btn-container:hover{
  background-color: #900080;
}

/* FOOTER: NEXT QUESTION BTN, QUESTION NUMBER */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  text-align: center;
}

#score-container{
  opacity: 0;
}

#nq-btn {
cursor:pointer;
padding: 20px;
width: 250px;
border-radius: 70px;
font-weight: 700;
color:rgb(0 43 111);
background-color: #00FFFF;
box-shadow: 0px 1px 30px 0px #00FFFF;
border: none;
margin-top: 5%;
}

#qn-div {
  margin: 4%;
  font-size: 1.4em;
}

#total-qn {
  color: #900080;
}