/* IMPOSTAZIONI GENERALI */

body {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  line-height: 1.25;
  color:white;
  background-image: url(../assets/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: fill;
}

main {
  text-align: center;
}

#logo {
  width: 10em;
  padding: 35px 0px 15px 0px;
  margin-left: 10vh;
}


.container {
  height: 80vh;
  width: 70vw;
}

.myButton {
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  cursor:pointer;
  color:rgb(0 43 111);
  background-color: #00FFFF;
  box-shadow: 0px 1px 30px 0px #00FFFF;
  border: none;
}

#timer {
  position: absolute;
  top: 20px;
  right: 10px;
  margin: auto;
  margin-top: 50px;
  margin-right: 50px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#timer-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

#timer-svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

#timer-circle {
  stroke-dasharray: 113px;
  stroke-dasharray: 100 100;
  transition: stroke-dasharray 1s linear;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 60s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

#question-container{
  min-width: 500;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

#question-text {
  font-size: 1.8em;
  font-weight: 400;
}

.radio-button {
  display: transparent;
}

.btn-container{
  cursor:pointer;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.091);
  width: 200px;
  border-radius: 70px;  
  border: 2px solid white;
  margin: 20px;
  padding: 10px;
  border:linear-gradient(138deg, #ffffff 0%, transparent 100%);
border-radius: 30px;
padding: 6px;
box-sizing: border-box;;
}

.btn-container:hover{
  background-color: #900080;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
}

#score-container{
  text-align: center;
  margin-top: 8%;
}

#nq-btn {
cursor:pointer;
padding: 10px;
width: 200px;
border-radius: 70px; 
font-weight: 700; 
color:rgb(0 43 111);
  background-color: #00FFFF;
  box-shadow: 0px 1px 30px 0px #00FFFF;
  border: none;
margin-left: 70%;
}