@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;600;700&display=swap');

/* IMPOSTAZIONI GENERALI */

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1em;
  line-height: 1.25;
  color:white;
  background-image: url(../assets/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: fill;
}

#logo {
  width: 10em;
  padding: 35px 0px 15px 0px;
  margin-left: 10vh;
}

.myButton {
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
cursor:pointer;
color:rgb(0 43 111);
  background-color: #00FFFF;
  box-shadow: 0px 1px 30px 0px #00FFFF;
  border: none;
}

/*
#timer {
  position: absolute;
  top: 40px;
  right: 40px;
  margin: auto;
  margin-top: 100px;
  height: 50px;
  width: 40px;
  text-align: center;
}

#timer-number {
  color: white;
  display: inline-block;
  line-height: 6em;
  font-size: 0.1em;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #00FFFF;
  fill: none;
  animation: countdown 60s linear infinite forwards;
} */


#timer {
  position: absolute;
  top: 80px;
  right: 200px;
  margin-top: 50px;
  height: 150px;
  width: 150px ;
  text-align: center;
}

#timer-number {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 3em;
}

#timer-svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg) rotateZ(-90deg);
  padding: 0;
  display: flex;
  justify-content: center;
}

#timer-circle {
  stroke-dasharray: calc(2em * 3.14);                                      /* Calcola la circonferenza del cerchio in base al diametro desiderato */
  stroke-dasharray: 100 100;
  transition: stroke-dasharray 1s linear;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 40s linear infinite forwards;
  width: 100%;
  height: 100%;

}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

#question-container{
  min-width: 500;
  width: 700px;
  text-align: center;
  margin: 250px auto;
}

#question-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1em;
  margin-bottom: 10vh;
}

.radio-button {
  opacity: 0;
}

.checked {
  background-color: #00FFFF;
}

.btn-container{
  cursor:pointer;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.091);
  width: 200px;
  border-radius: 70px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0px -2px 3px 0px #ffffffdf;
}

.btn-container:hover{
  background-color: #900080;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  text-align: center;
}

#score-container{
 opacity: 0;
}

#nq-btn {
cursor:pointer;
padding: 10px;
width: 200px;
border-radius: 70px;
font-weight: 700;
color:rgb(0 43 111);
background-color: #00FFFF;
box-shadow: 0px 1px 30px 0px #00FFFF;
border: none;
margin-top: 10%;
}

#question-number {
  margin-top: 2%;
  font-size: 1.4em;
}
