/* IMPOSTAZIONI GENERALI */

body {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 1.25;
    color:white;
    background-image: url(../assets/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: fill;
}

/* FONT e INTERLINEA */


h1 {
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 60px;
    line-height: 0.8;
    margin: 40px 0px 30px 0px;
}

h3 {
    font-family: 'Outfit', sans-serif;
    color: #900080;
    font-size: 2em;
    font-weight: bold;
}

.fontOutfitBold {
    font-weight: bold;
}

.fontInterBold {
    font-weight: bold;
}

/* MAIN */

main {
    margin: 0px 6em 0px 6em;
}

header {
    min-height: 10vh;
}

#logo {
    width: 10em;
    margin-top: 5em;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
    flex-flow: column;
}

/* STAR RATING */

.rating {
    margin: 30px 0px 50px 0px;
}

.rating img {
    height: 3em;
    cursor: pointer;
    transition: all 0.8s;
    margin: 4px;
}

.starActive {
    content: url('../assets/star.svg');
}

.starInactive:hover {
    content: url('../assets/star.svg');
    filter: drop-shadow(1px 1px 4px #00FFFF);
    transform: scale(1.2);
}

/* FEEDBACK */

.feedback p {
    margin-bottom: 2em;
}

.feedback input {
    text-align: center;
    font-size: 1em;
    width: 30vw;
    background: transparent;
    border-style:hidden;
    color:#9e9e9e;
}

.feedback input:focus {
    outline:none;
}

/* HORIZONTAL RULE */

.horizontal-rule {
    border-bottom: 2px solid;
    border-color: #900080;
    width: 32vw;
    margin: 10px auto 10px auto;
}

/* 
.feedback input { padding:3px; font-size:16px; border-color:#cccccc; border-width:0px; border-style:hidden; color:#9e9e9e;  }
.css-input:focus { outline:none; }  */

/* BOTTONE MORE INFO */

button {
    width: 9em;
    height: 2.5em;
}

.myButton {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
	cursor:pointer;
	color:rgb(0 43 111);
    background-color: #00FFFF;
    box-shadow: 0px 1px 30px 0px #00FFFF;
    border: none;
    margin: 0px auto;
    margin-top: 2em;
}
