/* IMPOSTAZIONI GENERALI */

body {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 1.25;
    color:white;
    background-image: url(../assets/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

/* FONT e INTERLINEA */


h1 {
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 60px;
    line-height: 0.8;
    margin: 40px 0px 30px 0px;
}

h3 {
    font-family: 'Outfit', sans-serif;
    color: #900080;
    font-size: 2em;
    font-weight: bold;
}

.fontOutfitBold {
    font-weight: bold;
}

.fontInterBold {
    font-weight: bold;
}



/* MAIN */

main {
    margin: 0px 6em 0px 6em;
}

#logo {
    width: 10em;
    margin-bottom: 2em;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
    flex-flow: column;
}

/* STAR RATING */

.rating {
    margin: 30px 0px 50px 0px;
}

.starSvg {
    font-size: 1.3em;
    cursor: pointer;
    transition: filter linear .3s;
}
 
.starSvg:hover {
    filter: drop-shadow(1px 1px 4px #00FFFF);
    transform: scale(1.2);
}

.rating-star img {
    font-size: 4em;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
  }

/* FEEDBACK */

.feedback p {
    margin-bottom: 2em;
}

.feedback input {
    text-align: center;
    width: 45vw;
    background: transparent;
    border: none;
}


/* HORIZONTAL RULE */

.horizontal-rule {
    border-bottom: 2px solid;
    border-color: #900080;
    width: 50vw;
    margin: 10px auto 10px auto;
}

/* BOTTONE MORE INFO */

button {
    width: 9em;
    height: 2.5em;
}

.myButton {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
	cursor:pointer;
	color:rgb(0 43 111);
    background-color: #00FFFF;
    box-shadow: 0px 1px 30px 0px #00FFFF;
    border: none;
    margin: 0px auto;
    margin-top: 2em;
}
