body {
    font-family: 'Inter', sans-serif;
    line-height: 1.25;
    color:white;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
  }

  #logo {
    width: 10em;
    margin-bottom: 2em;
    position: absolute;
    top: 50px;
    left: 100px;
  }

  #chart {
    width: 100%;
    height: 100%;
  }

  #container {
    width: 400px;
    height: 300px;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
    flex-flow: column;
  }

  h1 {
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 60px;
    line-height: 0.8;
    margin: 100px 0px 0px;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }