@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap');

body {
  color: white;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

#logo {
  width: 10em;
  margin-bottom: 2em;
  position: absolute;
  top: 50px;
  left: 100px;
}

#chart {
  width: 100%;
  height: 70%;
}

#container {
  width: 350px;
  height: 350px;
  justify-content: center;
  text-align: center;
  flex-flow: column;
}

.chart-message {
  position: relative;
  transform: translateY(-520%);
  top: 50%;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#result-text {
  padding: 0px 100px 0px 100px;
  text-align: center;
}

.chart-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
  
  font-size: 16px;
  font-weight: bold;
}

#chart-info-left {
  font-family: 'Inter', sans-serif;
  left: 10px;
  margin: 0px 0px 0px 50px;
  font-size: 25px;
  text-align: left;
}

#chart-info-right {
  font-family: 'Inter', sans-serif;
  right: 10px;
  margin: 0px 50px 0px 0px;
  font-size: 25px;
  text-align: right;
}

.info-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 0.8;
}

.info-percentage {
  font-weight: bold;
  font-size: 60px;
  line-height: 0.8;
}

.info-count {
    font-weight: normal;
  font-size: 16px;
  line-height: 0.8;
}

h1 {
  font-family: 'Outfit', sans-serif;
  color: white;
  font-size: 60px;
  line-height: 0.8;
  margin: 90px 0px 15px;
}

.paragrafo {
  font-family: 'Inter', sans-serif;
  font-size: 20px; 
  margin: 0px 0px 30px;
}

.bottom button {
  width: 9em;
  height: 2.5em;
}

.myButton {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
  color: rgb(0, 43, 111);
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  transition: color 0.3s;
}

.myButton:hover {
  background-color: #00FFFF;
  color: white;
  box-shadow: 0px 1px 30px 0px #00FFFF;
  border-color: #00FFFF;
  color: #002B6F;
}
