body {
  font-family: 'Inter', sans-serif;
  line-height: 1.25;
  color:white;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

#logo {
  width: 10em;
  margin-bottom: 2em;
  position: absolute;
  top: 50px;
  left: 100px;
}

#chart {
  width: 100%;
  height: 70%;
}

#container {
  width: 400px;
  height: 300px;
  justify-content: center;
  text-align: center;
  flex-flow: column;
}

.chart-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#chart-info-left {
  left: 10px;
  margin: 0px 0px 0px 200px;
  font-size: 25px;
  text-align: left;
}

#chart-info-right {
  right: 10px;
  margin: 0px 200px 0px 0px;
  font-size: 25px;
  text-align: right;
}

.info-title {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 0.8;
}

.info-percentage {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 0.8;
}

.info-count {
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 0.8;
}

h1 {
  font-family: 'Outfit', sans-serif;
  color: white;
  font-size: 60px;
  line-height: 0.8;
  margin: 90px 0px 0px;
}

.paragrafo {
  font-size: 20px; 
  margin: 0px 0px 30px;
}

.bottom button {
  margin-left: 4em;
  width: 9em;
  height: 2.5em;
}

.myButton {
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  cursor:pointer;
  color:rgb(0 43 111);
  background-color: #00FFFF;
  box-shadow: 0px 1px 30px 0px #00FFFF;
  border: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
