/* IMPOSTAZIONI GENERALI */

body {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 1.25;
    color:white;
    background-image: url(../assets/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

#logo {
    width: 10em;
    padding: 35px 0px 15px 0px;
}

h1 {
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 60px;
    line-height: 0.8;
    margin: 40px 0px 30px 0px;
}

h3 {
    font-family: 'Outfit', sans-serif;
    color: #900080;
    font-size: 2em;
    font-weight: bold;
}

.fontOutfitBold {
    font-weight: bold;
}

.fontInterBold {
    font-weight: bold;
}

main {
    margin-left: 6em;
}

li {
    line-height: 1.6;
}

.instructions h3 {
    margin-bottom: 5px;
}

.instructions ul {
    margin-top: 2.5em;
}

.instructions li {
    margin-left: 2em;
}

.bottom {
    margin-top: 6em;
}

.bottom label {
    font-weight: 500;
}

.bottom button {
    margin-left: 8em;
    width: 9em;
    height: 2.5em;
}

.bottom input {
    border: 3px solid #ffffff;
    border-radius: 0px;
}

.container {
    height: 80vh;
    width: 70vw;
}

.myButton {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
	cursor:pointer;
	color:rgb(0 43 111);
    background-color: #00FFFF;
    box-shadow: 0px 1px 30px 0px #00FFFF;
    border: none;
}
