/* IMPOSTAZIONI GENERALI */

body {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 1.25;
    color:white;
    background-image: url(../assets/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

/* FONT e INTERLINEA */


h1 {
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 60px;
    line-height: 0.8;
    margin: 40px 0px 30px 0px;
}

h3 {
    font-family: 'Outfit', sans-serif;
    color: #900080;
    font-size: 2em;
    font-weight: bold;
}

.fontOutfitBold {
    font-weight: bold;
}

.fontInterBold {
    font-weight: bold;
}


li {
    line-height: 1.6;
}

/* MAIN */

main {
    margin-left: 6em;
}

#logo {
    width: 10em;
    padding: 35px 0px 15px 0px;
}

.container {
    height: 80vh;
    width: 70vw;
    margin-top: 30px;
}

.instructions h3 {
    margin-bottom: 5px;
}

.instructions ul {
    margin-top: 2.5em;
}

.instructions li {
    margin-left: 2em;
}

/* CHECKBOX */

.bottom {
    margin-top: 6em;
}

.bottom label {
    font-weight: 500;
}

.bottom button {
    margin-left: 8em;
    width: 9em;
    height: 2.5em;
}

.bottom input {
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: middle;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    transition: background 250ms;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.2rem;
}

/* BOTTONE PROCEED */

.myButton {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
	cursor:pointer;
	color:rgb(0 43 111);
    background-color: #00FFFF;
    box-shadow: 0px 1px 30px 0px #00FFFF;
    border: none;
}

